.venv
.idea
conf
.vscode
__pycache__
*.pyc
*.pyo
*.log
logs
.temp
database
ssh
*.tar.gz
test*.py
*.xlsx
.backup

asserts/pic/*
asserts/media/*

static
static2
/test/amazon_packslips.py
/scripts/pic

/build
/dist
*.spec

docs