<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Amazon</title>
<link rel="stylesheet" href="/static/amazon_daily_sales_count.css">

</head>
<body>
    <h2>Shipped</h2>
    <div class="note"><span>Note: Canceled items are not included in the count.</span></div>
    <div>
        <button class="btn" id="expandAll">Expand All</button>
        <button class="btn" id="collapseAll">Collapse All</button>
        <a href="/api/v1/pickpack/amazon/pick-items/unshipped" download>
            <button class="btn" id="pickSlipExcel">Pick Unshipped</button>
        </a>
        <a href="/api/v1/pickpack/amazon/pack-items/unshipped" download>
            <button class="btn" id="packSlipExcel">Pack Unshipped</button>
        </a>
    </div>
    <ul class="tree">
        {% for item in data %}
        <li>
            <label for="toggle{{ loop.index }}">
                Purchased At:
                {{ item.purchaseDate }} [{{item.dailyShippedItemsCount}}/{{item.dailyOrdersItemsCount}}]
            </label>

            <ul {% if not loop.first %} style="display: none;" {% endif %}>
                {% for shipment in item.dailyShipments %}
                <div class="item_container">
                    <li>
                  {% if shipment.totalQuantityShipped < shipment.totalQuantityOrdered %}
                    <span class="warning">⚠️</span>
                  {% else %}
                    <span class="warning">✅</span>
                  {% endif %}
                  <span class="shipment-title">{{ shipment.title }}</span>
                    <div class="group-product-item">
                        <div class="gpi">
                            <ul>
                                <li><strong>ASIN:</strong> {{ shipment.asin }}</li>
                                <li><strong>Seller SKU:</strong> {{ shipment.sellerSKU }}</li>
                                <li><strong>Total Quantity Shipped:</strong> {{ shipment.totalQuantityShipped }}</li>
                                <li><strong>Total Quantity Ordered:</strong> {{ shipment.totalQuantityOrdered }}</li>
                            </ul>
                        </div>
                        <div class="gpi">
                            <img class="thumbnail" src="{{shipment.imageUrl}}" alt="Thumbnail"  height="80">
                        </div>
                    </div>
                </li>
                </div>
                {% endfor %}
              </ul>
        </li>
        {% endfor %}
    </ul>

<script src="/static/amazon_daily_sales_count.js"></script>
</body>
</html>
